{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://kartoza.com/files/favicon-16x16.png" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Kartoza Technical Assignment</title>
</head>

<body>
    <div class="bg-white">
        <div class="relative bg-white overflow-hidden">
            <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                <!--  Navibar Start -->
                <div>
                    <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-5" aria-label="Global">
                        <div class="flex items-center flex-1">
                            <div class="flex items-center justify-between w-full md:w-auto">
                                <a href="{% url 'Home' %}">
                                    <span class="sr-only">Kartoza</span>
                                    <img src="https://kartoza.com/files/kartoza-logo-only.png" alt="" width="50px">
                                </a>
                                <div class="-mr-2 flex items-center md:hidden">
                                    <button type="button" id="showNav"
                                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#3b82f6]"
                                        aria-expanded="false">
                                        <span class="sr-only">Open main menu</span>
                                        <!-- Heroicon name: outline/menu -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M4 6h16M4 12h16M4 18h16" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="hidden md:block md:ml-10 md:space-x-10">
                                <a href="{% url 'Home' %}" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
                                {% if user.is_authenticated %}<a href="{% url 'Profile' %}" class="font-medium text-gray-500 hover:text-gray-900">User Profile</a>{% endif %}
                                {% if user.is_authenticated %}<a href="{% url 'edit_profile' %}" class="font-medium text-gray-500 hover:text-gray-900">Edit Profile</a>{% endif %}
                                <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Map</a>
                            </div>
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="hidden md:block text-right">
                            <span class="inline-flex rounded-md shadow-md ring-1 ring-black ring-opacity-5">
                                <a href="{% url 'login' %}"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-[#003049] bg-white hover:bg-gray-50">
                                    Log in
                                </a>
                            </span>
                        </div>
                        {% endif %}
                    </nav>
                    <div id="navbar"
                        class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right hidden">
                        <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
                            <div class="px-3 pt-4 flex items-center justify-between">
                                <div>
                                    <img src="https://kartoza.com/files/kartoza-logo-only.png" alt="" width="50px">
                                </div>
                                <div class="-mr-2">
                                    <button type="button" id="hideNav"
                                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-[#3b82f6]">
                                        <span class="sr-only">Close main menu</span>
                                        <!-- Heroicon name: outline/x -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="px-2 pt-2 pb-3 space-y-1">
                                <a href="{% url 'Home' %}"
                                    class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Home</a>

                                <a href="{% url 'Profile' %}"
                                    class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">User
                                    Profile</a>

                                <a href="{% url 'edit_profile' %}}" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Edit Profile</a>

                                <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Map</a>
                            </div>
                            {% if not user.is_authenticated %}
                            <a href="/Users/login/" class="block w-full px-5 py-3 text-center font-medium text-[#4789f5] bg-gray-50 hover:bg-gray-100">Log in
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Navbar End -->
                {% block content %}

                {% endblock content %}
            </div>
<script src="{% static 'index.js' %}"></script>
<style>
    ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  html {
    scroll-behavior: smooth;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  /* input[type=number] {
    -moz-appearance: textfield;
  } */
</style>
</body>

</html>